$web-icon-apple: "\ea01";
$web-icon-appwrite: "\ea02";
$web-icon-arena: "\ea03";
$web-icon-arrow-down: "\ea04";
$web-icon-arrow-ext-link: "\ea05";
$web-icon-arrow-left: "\ea06";
$web-icon-arrow-right: "\ea07";
$web-icon-arrow-up: "\ea08";
$web-icon-bluesky: "\ea09";
$web-icon-calendar: "\ea0a";
$web-icon-check: "\ea0b";
$web-icon-chevron-down: "\ea0c";
$web-icon-chevron-left: "\ea0d";
$web-icon-chevron-right: "\ea0e";
$web-icon-chevron-up: "\ea0f";
$web-icon-close: "\ea10";
$web-icon-command: "\ea11";
$web-icon-copy: "\ea12";
$web-icon-customize: "\ea13";
$web-icon-daily-dev: "\ea14";
$web-icon-dark: "\ea15";
$web-icon-dart: "\ea16";
$web-icon-deno: "\ea17";
$web-icon-discord: "\ea18";
$web-icon-divider-vertical: "\ea19";
$web-icon-dotnet: "\ea1a";
$web-icon-download: "\ea1b";
$web-icon-edge: "\ea1c";
$web-icon-ext-link: "\ea1d";
$web-icon-external-icon: "\ea1e";
$web-icon-firebase: "\ea1f";
$web-icon-github: "\ea20";
$web-icon-go: "\ea21";
$web-icon-google: "\ea22";
$web-icon-hamburger-menu: "\ea23";
$web-icon-instagram: "\ea24";
$web-icon-kotlin: "\ea25";
$web-icon-light: "\ea26";
$web-icon-linkedin: "\ea27";
$web-icon-location: "\ea28";
$web-icon-logout-left: "\ea29";
$web-icon-logout-right: "\ea2a";
$web-icon-mailgun: "\ea2b";
$web-icon-mcp: "\ea2c";
$web-icon-message: "\ea2d";
$web-icon-microsoft: "\ea2e";
$web-icon-minus: "\ea2f";
$web-icon-nuxt: "\ea30";
$web-icon-php: "\ea31";
$web-icon-platform: "\ea32";
$web-icon-play: "\ea33";
$web-icon-plus: "\ea34";
$web-icon-pop-locations: "\ea35";
$web-icon-product-hunt: "\ea36";
$web-icon-refine: "\ea37";
$web-icon-regions: "\ea38";
$web-icon-remix: "\ea39";
$web-icon-rest: "\ea3a";
$web-icon-ruby: "\ea3b";
$web-icon-search: "\ea3c";
$web-icon-sendgrid: "\ea3d";
$web-icon-skills: "\ea3e";
$web-icon-sparkle: "\ea3f";
$web-icon-star: "\ea40";
$web-icon-swift: "\ea41";
$web-icon-system: "\ea42";
$web-icon-tanstack: "\ea43";
$web-icon-textmagic: "\ea44";
$web-icon-ticket: "\ea45";
$web-icon-tiktok: "\ea46";
$web-icon-twitter: "\ea47";
$web-icon-vue: "\ea48";
$web-icon-x: "\ea49";
$web-icon-ycombinator: "\ea4a";
$web-icon-youtube: "\ea4b";
